<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calendarizacion de periodos vacacionales</title>
    <link rel="stylesheet" href="~/css/styles.css" />

</head>
<body>
    <div class="navbar"><a href="~/Home/Index">CFE</a></div>
    @RenderBody()
</body>
</html>
