
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calerandarizacion de vacaciones CFE</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
	<link rel="stylesheet" href="~/css/Estilos.css">

</head>
<body>

	<div id="conteiner">
		<header id="head-user">
			<h3>Programa de Vacaciones</h3>
			<a href="~/Home/Index"><img class="im-av" src="~/R.png"></a>
		</header>
		<div id="nav-bar">
			<input id="nav-toggle" type="checkbox" />
			<div id="nav-header">
				<a id="nav-title" href="~/Home/PeriodosDisp"></i>Programa de Vacaciones</a>
				<label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
				<hr />
			</div>
			<div id="nav-content">

				if(@User.IsInRole(""))
				{
				<div class="nav-button"><i class="fas fa-clipboard-list"></i><a href="~/Admin/Home/Usuarios"><span>Lista de empleados</span></a> </div>
				<div class="nav-button"><i class="far fa-clipboard"></i> <a href="~/Admin/Home/Aprobar"><span>Solicitudes por revisar</span></a></div>
				}
				@if (User.IsInRole("Jefe de departamento"))
				{
					<div class="nav-button"><i class="fas fa-clipboard-list"></i><a href="~/Home/ListaEmpleados"><span>Lista de empleados</span></a> </div>
					<div class="nav-button"><i class="far fa-clipboard"></i> <a href="~/Home/Aprobar"><span>Solicitudes por revisar</span></a></div>
					<div class="nav-button"><i class="fas fa-clipboard-list"></i> <a href="~/Home/PeriodosDisp"><span>Periodos Disp.</span></a> </div>
					<div class="nav-button"><i class="far fa-clipboard"></i><a href="~/Home/ProgramarVacaciones"><span>Solicitar vacaciones</span></a></div>
					<div class="nav-button"><i class="fas fa-paper-plane"></i><a href="~/Home/SolicitudesEnviadas"><span>Solicitudes enviadas</span></a></div>
					<div class="nav-button"><i class="fas fa-address-book"></i><a href="~/Home/Index"><span>Datos de usuario</span></a></div>
				}
				@if (User.IsInRole("Empleado"))
				{
					<div class="nav-button"><i class="fas fa-clipboard-list"></i> <a href="~/Home/PeriodosDisp"><span>Periodos Disp.</span></a> </div>
					<div class="nav-button"><i class="far fa-clipboard"></i><a href="~/Home/ProgramarVacaciones"><span>Solicitar vacaciones</span></a></div>
					<div class="nav-button"><i class="fas fa-paper-plane"></i><a href="~/Home/SolicitudesEnviadas"><span>Solicitudes enviadas</span></a></div>
					<div class="nav-button"><i class="fas fa-address-book"></i><a href="~/Home/Index"><span>Datos de usuario</span></a></div>
					<hr />
				}
				<div id="nav-content-highlight"></div>
			</div>
			<input id="nav-footer-toggle" type="checkbox" />
			<div id="nav-footer">
				<div id="nav-footer-heading">
					<div id="nav-footer-avatar"><img class="im-av" src="~/R.png" /></div>
					<div id="nav-footer-titlebox"><a id="nav-footer-title" href="~/Home/Index" >@User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value</a><span id="nav-footer-subtitle">@User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value</span></div>
					<label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
				</div>
				<div id="nav-footer-content">
					<a href="~/Account/Logout"> Cerrar sesión<span class="fas fa-share-square"></span></a>
				</div>
			</div>
		</div>

		@RenderBody()

	</div>

</body>
</html>