<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calendarizacion de periodos vacacionales</title>
</head>
<body>
    <h3>CFE Proyecto</h3>
    @RenderBody()
</body>
</html>


