@model IEnumerable<ProyectoCalendarizacionDeVacaciones.Areas.Admin.ViewModels.IndexUsuariosViewModel>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calendarizacion de periodos vacacionales</title>
</head>
<body>
</body>
</html>


