@{
    Layout = "AdminLayout";
}
<h1>Bienvenido administrador</h1>
<a href="~/Admin/Puestos/Index">Lista de Puestos </a><br />
<a href="~/Admin/Usuarios/Index">Lista de Usuarios </a><br />
<a href="~/Admin/Departamentos/Index">Lista de los departamentos</a>