@model IEnumerable<ProyectoCalendarizacionDeVacaciones.Models.Departamento>
@{
    Layout = "AdminLayout";
}
    <div class="container">
        <h1>Puestos</h1>
    <a href="~/Admin/Departamentos/Agregar" class="btn">Agregar Departamento</a>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

            @foreach (var d in Model)
            {
                    <tr>
                        <input type="hidden" value="@d.IdDepartamento"/>
                        <td>@d.</td>
                        <td>
                            <a href="~/Admin/Puestos/Editar/@d.IdDepartamento" class="btn">Editar</a>
                            <a href="~/Admin/Puestos/Eliminar/@d.IdDepartamento" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>